@keyframes rot_alt1 {
  0% {
    transform: rotate(55deg) translate(0, 0rem) rotate(55deg);
  }
  50% {
    transform: rotate(165deg) translate(-2rem, 0rem) rotate(165deg);
  }
  100% {
    transform: rotate(55deg) translate(0, 0rem) rotate(55deg);
  }
}

.alt1 {
  position: absolute;
  top: 20%;
  right: 50%;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;

  &.alt1 {
    animation: rot_alt1 1.5s infinite linear;
  }

  &.one {
    animation-delay: 0s;
    color: #29c6cd;
  }
  &.two {
    animation-delay: 100ms;
    color: #f6e4c4;
  }
  &.three {
    animation-delay: 200ms;
    color: #fea386;
  }
  &.four {
    animation-delay: 300ms;
    color: #f19584;
  }
}
